.Overview {
    width: 100%;
    text-align: center;
    background-image: url("https://user-images.githubusercontent.com/58446465/107708527-7b926880-6c78-11eb-897d-93f7d21c2298.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Overview_bio {
    width: 90%;
    margin: 25vw auto auto auto;
}

.overviewBioText {
    display: none;
}

.overviewHeader {
    color: white;
    font-size: 34px;
    margin-bottom: 0px;
}

.overviewSubHeader {
    color: white;
    margin-top: 0px;
    padding-bottom: 20%;
}

/* intermediate adjustment */
@media (min-width: 500px) {
    .Overview_bio {
        margin-top: 15vw;
    }

    .overviewHeader {
        font-size: 40px;
    }

    .overviewSubHeader {
        font-size: 22px;
        padding-bottom: 0px;
    }

    .overviewBioText {
        display: inline-block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        color: white;
        border-top: 1px solid rgb(185, 185, 185);
        border-bottom: 1px solid rgb(185, 185, 185);
        padding: 20px 15px 20px 15px;
    }
}

/* tablet adjustments */
@media (min-width: 768px) {
    .Overview {
        margin-bottom: 0px;
        background-image: url("https://user-images.githubusercontent.com/58446465/107711280-3a9c5300-6c7c-11eb-8930-eca743bae8ff.jpg");
    }

    .overviewHeader {
        font-size: 44px;
        margin-top: 0px;
    }

    .overviewSubHeader {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .overviewIntroText {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 15px 20px 15px;
        border-top: 1px solid rgb(185, 185, 185);
        border-bottom: 1px solid rgb(185, 185, 185);
    }
}

/* desktop adjustments */
@media (min-width: 1200px) {
    .Overview {
        height: 70%;
        display: flex;
        flex-direction: row;
        margin: auto auto auto auto;
        text-align: center;
    }

    .Overview_bio {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }

    .overviewHeader {
        font-size: 80px;
        padding: 0px;
        text-align: center;
    }

    .overviewSubHeader {
        font-size: 40px;
        margin: 0px auto 0px auto;
    }

    .overviewBioText {
        color: white;
        font-size: 30px;
        padding: 20px 15px 20px 15px;
    }
}