.BioContact {
    width: 100%;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: white;
}

.BioContact_overview,
.BioContact_bio,
.BioContact_contact {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.bioContactImage {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.bioContactMediaLeft {
    display: none;
}

.BioContact_contact h3 {
    width: 90%;
    border-bottom: 1px solid rgb(175, 175, 175);
    margin-left: auto;
    margin-right: auto;
}

.bioContactLink {
    text-decoration: none;
    color: black;
}

.bioContactLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .BioContact {
        width: 100%;
    }

    .BioContact_overview,
    .BioContact_bio,
    .BioContact_contact {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .bioContactImage {
        width: 40%;
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .BioContact {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        height: 70vh;
    }

    .BioContact_overview {
        width: 30%;
        padding-top: 25px;
        margin-right: 0px;
    }

    .bioContactMediaLeft {
        display: block;
    }

    .bioContactMediaLeft h3 {
        width: 50%;
        border-bottom: 1px solid rgb(175, 175, 175);
        margin-left: auto;
        margin-right: auto;
    }

    .bioContactImage {
        width: 200px;
        margin-top: 0px;
    }

    .BioContact_bio {
        width: 50%;
        text-align: left;
        margin-left: 0px;
        margin-right: 15%;
    }

    .BioContact_contact {
        display: none;
    }
}